
  
  .cards__container1 {
  
    display:flex;
    flex-flow: column;
    align-items: center;
    max-width: 300px;
    width: 50%;
   
    margin-bottom: 20rem;
  }
  
  .cards__wrapper1 {
     
    position: relative;
    margin: 25px 20 0px;
    margin-top: 90rem;
  }
  
  .cards__items1 {
    
    margin-top: 2rem;
    
  }
  
  .cards__item1 {
    margin: 25px 20 0px;
 background-image: url("https://wallpapercave.com/wp/wp2019673.jpg");
 /*background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("https://besthqwallpapers.com/Uploads/14-11-2019/111607/gray-stylish-texture-gold-lines-black-texture-gray-mesh-texture-black-and-gold-abstract-background.jpg");*/
 
 display: flex;
    flex: 1;
    margin: 5 1rem;
    margin-left: 2rem;
    border-radius: 40px;
    height: 30px;
    width: 50px;
  }
  
  .cards__item__link1 {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .cards__item__pic-wrap1 {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
 
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .cards__item__pic-wrap1::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: -15rem;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
  }
  
  .cards__item__img1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
 
  .cards__item__img1:hover {
    transform: scale(1.1);
  }
  
  .cards__item__info1 {
    padding: 20px 30px 30px;
   
  }
  
  .cards__item__text1 {
    text-decoration: underline;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
    font-size: 22px;
    line-height: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container1 {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items1 {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item1 {
      margin-bottom: 2rem;
    }
  }
  .cards__item__desc1{
    
    font-weight: 700;
   margin-top: 1.5rem ;
    margin-left: 1rem;
    color: #fff;
     font-size: 18px;
    line-height: 24px;
  }
 .cardbtn1{
   width: 2px;
  
 
 }

 
 .cards__items2 {
    
  margin-top: 2rem;
  background-image: url("https://wallpapercave.com/wp/wp6903417.jpg");
  display: flex;
    flex: 1;
    margin: 5 1rem;
    margin-left: 2rem;
    border-radius: 40px;
    height: 30px;
    width: 50px;
  
}


